# Clojure
pom.xml
pom.xml.asc
*.jar
*.class
**/clojure/**/lib/
**/classes/
**/target/
**/checkouts/
.lein-deps-sum
.lein-repl-history
**/.lein-plugins/
.lein-failures
.nrepl-port


# Elixir
_build/
deps/
ebin/
erl_crash.dump
mix.lock
*.ez
*.beam
doc/
cover/
.fetch